{% extends 'base.html' %}

{% block content %}
<style>
    body {
      background-image: url('/static/images/Red_Porsche.jpg/');
      background-size: 100%;
    }
    section {
      background-color: rgba(2, 0, 0, 0.6); 
      margin-top: 40px;
    }
</style>
<section>
  <i><h1 style="text-align: center; 
  color: white; 
  margin-bottom: 0px; 
  font-size: 50px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Car Inventory API</h1></i>
  <p style="text-align: center; color: white;">For all of your car inventory-ing needs.</p>
</section>
{% endblock %}